# Next.js
interface/.next/
interface/node_modules/
interface/out/
interface/build/
interface/.env*.local

# Foundry
contracts/cache/
contracts/out/
contracts/lib/
contracts/.env

# Foundry broadcast logs
/contracts/broadcast/*/31337/
/contracts/broadcast/**/dry-run/

# Keep broadcast directory itself
!/contracts/broadcast

# General
.DS_Store
*.pem
