# Next.js
interface/.next/
interface/node_modules/
interface/out/
interface/build/
interface/.env*.local

# Foundry
contract/cache/
contract/out/
contract/lib/
contract/.env

# Foundry broadcast logs
/contract/broadcast/*/31337/
/contract/broadcast/**/dry-run/

# Keep broadcast directory itself
!/contracts/broadcast

# General
.DS_Store
*.pem
